export(bfgsTuner)
export(cat1)
export(cat2)
export(cma_jTuner)
export(cmaesTuner)
export(lhdTuner)
export(makeTdmRandomSeed)
export(Opts)
export(powellTuner)
export(print1)
export(print2)
export(spotTuner)
export(tdmBigLoop)
export(tdmBindResponse)
export(tdmClassify)
export(tdmClassifyLoop)
export(tdmClassifySummary)
export(tdmCompleteEval)
export(tdmDefaultsFill)
export(tdmDispatchTuner)
export(tdmEnvTAddBstRes)
export(tdmEnvTAddGetters)
export(tdmEnvTLoad)
export(tdmEnvTMakeNew)
export(tdmEnvTSensi)
export(tdmGraAndLogFinalize)
export(tdmGraAndLogInitialize)
export(tdmGraphicCloseDev)
export(tdmGraphicCloseWin)
export(tdmGraphicInit)
export(tdmGraphicNewWin)
export(tdmMapDesApply)
export(tdmMapDesLoad)
export(tdmModConfmat)
export(tdmModSortedRFimport)
export(tdmModVote2Target)
export(tdmOptsDefaultsFill)
export(tdmOptsDefaultsSet)
export(tdmParaBootstrap)
export(tdmPlotResMeta)
export(tdmPreAddMonomials)
export(tdmPreFindConstVar)
export(tdmPreGroupLevels)
export(tdmPreLevel2Target)
export(tdmPreNAroughfix)
export(tdmPrePCA.apply)
export(tdmPrePCA.train)
export(tdmPreSFA.apply)
export(tdmPreSFA.train)
export(tdmRandomSeed)
export(tdmReadCmd)
export(tdmReadData)
export(tdmRegress)
export(tdmRegressLoop)
export(tdmRegressSummary)
export(tdmROCR)
export(tdmROCRbase)
export(tdmSplitTestData)
export(tdmStartSpot)
export(unbiasedBestRun_O)
export(unbiasedRun)
S3method(dsetTest,TDMdata)
S3method(dsetTrnVa,TDMdata)
S3method(Opts,default)
S3method(Opts,tdmClass)
S3method(Opts,TDMclassifier)
S3method(Opts,tdmRegre)
S3method(Opts,TDMregressor)
S3method(print,tdmClass)
S3method(print,TDMclassifier)
S3method(print,TDMdata)
S3method(print,tdmRegre)
S3method(print,TDMregressor)
S3method(tdmROCR,TDMclassifier)
