export(makeTdmRandomSeed)
export(tdmRandomSeed)
export(tdmClassify)
export(tdmClassifyLoop)
export(tdmClassifySummary)
export(print.TDMclassifier)
export(tdmCompleteEval)
export(tdmDefaultsFill)
export(spotTuner)
export(lhdTuner)
export(cmaesTuner)
export(cma_jTuner)
export(powellTuner)
export(bfgsTuner)
export(tdmDispatchTuner)
export(bind_response)
export(cat1)
export(cat2)
export(print1)
export(print2)
export(tdmGetObj)
export(tdmGraAndLogInitialize)
export(tdmGraAndLogFinalize)
export(tdmGraphicInit)
export(tdmGraphicNewWin)
export(tdmGraphicCloseWin)
export(tdmGraphicCloseDev)
export(tdmMapDesLoad)
export(tdmMapDesApply)
export(tdmMapDesSpot)
export(tdmModSortedRFimport)
export(tdmModVote2Target)
export(tdmModConfmat)
export(tdmOptsDefaultsSet)
export(tdmOptsDefaultsFill)
export(tdmPreFindConstVar)
export(tdmPreGroupLevels)
export(tdmPreLevel2Target)
export(tdmPreAddMonomials)
export(tdmPrePCA)
export(tdmRegress)
export(tdmRegressLoop)
export(tdmRegressSummary)
export(print.TDMregressor)
export(tdmStartSpot)
export(unbiasedBestRun_C)
export(unbiasedBestRun_O)
export(unbiasedBestRun_R)
